<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WSP_FE"
        tools:targetApi="31" >
        <activity
            android:name=".room.RoomReventActivity"
            android:exported="false" />
        <activity
            android:name=".room.RoomEventActivity"
            android:exported="false" />
        <activity
            android:name=".club.ClubRecommendationActivity"
            android:exported="false" />
        <activity
            android:name=".club.ClubRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".room.challenge.ChallengeCertificationActivity"
            android:exported="false" />
        <activity
            android:name=".room.challenge.ChallengeActivity"
            android:exported="false" />
        <activity
            android:name=".room.challenge.ChallengeListActivity"
            android:exported="false" />
        <activity
            android:name=".room.RoomReviewActivity"
            android:exported="false" />
        <activity
            android:name=".club.ClubReviewActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainScheduleDetailActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".room.RoomVoteActivity"
            android:exported="false" />
        <activity
            android:name=".room.RoomNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".room.RoomActivity"
            android:exported="false" />
        <activity
            android:name=".club.ClubListActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.MyPageAlertActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.MyPageActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:exported="false" />
    </application>

</manifest>